h1. Card Filters for !Sutekh Version!

h2. Contents

# "Usage":#usage
# "Keyboard Navigation":#navigation
# "Filter Elements":#elements
## "Filter Group":#filter_group
##toc

h2(#usage). Usage

Filter elements and values for the filters can be dragged from the right hand
pane to the filter to add them to the filter, and dragged from the filter to
the right hand pane to remove them from the filter. Disabled filter elements or
filter elements with no values set are ignored.

h2(#navigation). Keyboard Navigation

You can switch between the different filter lists using
*&lt;Alt&gt;--&lt;Left&gt;* and *&lt;Alt&gt;--&lt;Right&gt;*.
*&lt;Ctrl&gt;--&lt;Enter&gt;* will paste the currently selected list of values
into the filter.  *&lt;Del&gt;* will delete a value or filter part from the
filter *&lt;Ctrl&gt;--&lt;Space&gt;* will disable a filter part, while
*&lt;Alt&gt;--&lt;Space&gt;* will negate it.

h2(#elements). Filter Elements

The available filtering options are listed below.  The first line of each item
shows the description you'll see in the filter editor in bold.  The rest of the
description describes the arguments the filter takes and the results it
produces.

h3(#filter_group). Filter Group

Filter element with holds other filter elements. The result of is the
combination of all the filter elements as specified by the Filter Group type
(All of, Any of and so on).

CardSetName

CardSetDescription

CardSetAuthor

CardSetAnnotations

ParentCardSet

CSSetsInUse
