h1. Card Filters for !Sutekh Version!

h2. Contents

!#toc!
# "Notes":#note

!Usage!

!Navigation!

!Elements!

!Filter_Group!

!card_filters_long!


h2(#note). Notes

Using filters which require information about cards in a card set will
temporarily turn off displaying cards with zero counts (for modes where this is
possible) in the card list since there are no associated cards on which to base
the query.  Filters affected by this are: Physical Expansion, Card Sets and In
Card Sets in Use.
